* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, .s-h, .hero-wrapper, .wrapper, .section-1
{
    display: flex;
}

nav, .s-h {
    background-color: #1f2937;
}

h1 {
    color: white;
}

nav {
    align-items: center;
    padding: 1em;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a, p {
    color: #D3D3D3;
    font-size: 18px;
}
    
a {
    text-decoration: none;
    padding: 1em;
}

.s-h {
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    max-width: 60vh;
}

.hero {
    max-width: 40%;
    display: grid;
    flex-shrink: 0;
    align-items: center;
}

.hero button {
    justify-self: start;
}

.hero-img img {
    width: 400px;
    height: auto;
}

.section-1 {
    background-color: white;
    padding: 2em;
}

.s-1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.s-1 {  
    color: black;
    font-size: 36px;
}

.outline {
    border: 3px solid rgba(0, 0, 255, 0.673);
    padding: 1em;
    border-radius: 5px;
    height: 150px;
    width: 150px;

}

.wrapper {
    justify-content: center;
    gap: 2em;
    padding: 2em;
    flex: 1;
    max-width: 700px;
}

.s-1-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #e5e7eb;
}

.section-three-container {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.section-three-container p {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 500;
}

.section-three-container h3 {
    margin-top: .5em;
    align-self: flex-end;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;
    background-color: white;
}

.section-four-container {
    display: flex;
    background-color: #3882f6;
    width: 1200px;
    padding: 4em;
    border-radius: 15px;
    justify-content: space-between;
}

.cta-container {
   color: white;
   max-width: 600px;
}
